// General

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  // font-family: fantasy;
  letter-spacing: .125em;
}
.subtitle {
  font-size: 1.5em;
  --alt: var(--main);
}

// Callnow and Up

.callnow {
  left: unset;
  right: 0;
}
.callnow__caption {
  right: 0;
}
.button-up {
  left: 0;
  right: unset;
}
.whatsapp {
  --base: #128c7e;
  --hover: #075e54;
  --active: #25d366;
}

// Slider arrows

// .slider__arrows--float
.slider__arrows {
  justify-content: space-between;
  margin-top: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0;
  .slider__arrow {
    // @include fluid-size(--slider-arrow-size, 1em, 2, 3);
    --slider-arrow-size: #{ fluid-size(2*16px, 3*18px) };
    width: var(--slider-arrow-size);
    height: var(--slider-arrow-size);
    min-height: var(--slider-arrow-size);
    > svg {
      // @include fluid-size(font-size, 1em, 1.5, 2);
      font-size: fluid-size(1.5*16px, 2*18px);
    }
  }
  .slider__arrow--left {
    transform: translate(calc(var(--container-margin-side) *  1 + var(--slider-arrow-size) / 4), calc(-50% - 3em));
  }
  .slider__arrow--right {
    transform: translate(calc(var(--container-margin-side) * -1 - var(--slider-arrow-size) / 4), calc(-50% - 3em));
  }
}


// Header Animations

#header {
  @mixin show-from($delay) {
    animation: show-from .5s (.25 + .125s * $delay) both;
  }
  .column--item-1 { @include show-from(1); }
  .column--item-2 { @include show-from(2); }
}


// Sections

// #header,
// #conoceme {
//   [data-iframe]:after {
//     content: '';
//     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 68 48'%3E%3Cpath d='M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z' fill='%23#{ str-slice(#{ $main }, 2) }'/%3E%3Cpath d='M45 24 27 14v20' fill='%23#{ str-slice(#{ $main-contrast-neutral }, 2) }'/%3E%3C/svg%3E");
//   }
// }


#body-satyam-yoga #header,
#maestrias {
  .column--item-1 .image__inner img {
    --mask-image: linear-gradient(black 85%, transparent 100%);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
  }
}


#body-satyam-yoga,
#body-satyam-yoga .bg {
  --main: var(--light);
  --link: var(--light);
  --alt: var(--invert);
  --alt-text: var(--invert-text);
}
#body-danzafrica #header {
  .bg-figure-image img {
    object-position: top center;
  }
}
#body-aguahara,
#body-aguahara .bg {
  $agua: #98cdd6;
  --main: #{ $agua };
  --link: #{ $agua };
  --alt: var(--invert);
  --alt-text: var(--invert-text);
  [data-iframe]:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 68 48'%3E%3Cpath d='M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z' fill='%23#{ str-slice(#{ $agua }, 2) }'/%3E%3Cpath d='M45 24 27 14v20' fill='%23#{ str-slice(#{ $dark }, 2) }'/%3E%3C/svg%3E");
  }
}
